<div class="container mt-5">
    <div class="user">
        <div class="class-body">
            <div class="welcome-text text-center">
                <span>Welcome to GPA Calculator</span>
            </div>
            <form class="login-form">
                <div class="mb-3">
                    <label for="user-login" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="user-login">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">  
                  <button routerLink="/list" type="submit" class="btn btn-primary">Login</button>
                  <a href="/new-user">You don't have an account ?</a>
                </div>
            </form>
        </div>
    </div>
</div>