<div class="container mb-3">
    <div class="row">
        <div class="list">
            <div class="class-body">    
                <span class="welcome-text">GPA CALCULATOR</span>
                <table class="table">
                    <thead>
                        <!-- table head -->
                        <tr>
                            <th scope="col">Course</th>
                            <th scope="col">ECTS</th>
                            <th scope="col">Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Calculo</td>
                            <td>6</td>
                            <td>6.2</td>
                        </tr>
                        <tr>
                            <td>Algoritmica Numerica</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Programacion para Sistemas</td>
                            <td>3</td>
                            <td>5</td>
                        </tr>
                    </tbody>
                </table>
                <button routerLink="/new-grade" type="button" class="btn btn-primary">New grade</button>
                <button type="submit" class="btn btn-primary">Calculate grade</button>
                <!-- this button must call a function to calculate the grade -->
            </div>
        </div>
    </div>
</div>